body {
  margin: 0;
  background: $c-grid;
  font-family: 'Quicksand', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100;
}

input::placeholder {
  color: $c-grey;
  font-style: italic;
}

textarea::placeholder {
  color: $c-grey;
  font-style: italic;
}