body {
  margin: 0;
  font-family: 'Quicksand';
  background: $c-grid;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100;
}

input::placeholder { 
  font-style: italic;
  color: $c-grey;
}

textarea::placeholder {
  font-style: italic;
  color: $c-grey;
}