$c-sidebar: #51b0f4;
$c-sidebar-head: #f0f7fc;
$c-grid: #f4f8fa;
$c-submit: #4ae652;
$c-delete: #e64342;
$c-edit: #42cde6;
$c-white: #fefefe;

$m-gutter: 1rem;

@import 'reset';
@import 'box-sizing';
@import 'sidebar';
@import 'grid';
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.app {
  display: flex;
  background: $c-grid;
  overflow: scroll;

  &__main {
    flex-grow: 1;
  }
}
