.section {
  padding: $m-gutter;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;

  &__text {
    margin: 0;
    font-family: 'Pacifico';
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 80vh;
  overflow: scroll;

  &__item {
    flex-grow: 1;
    width: 100%;
    min-width: 10rem;
    margin: 1rem;
  }
}

.recipe-card {
  padding: $m-gutter;
  border-radius: 4px;
  background: $c-white;

  &__button {
    width: 3rem;
    margin: 0 auto;
    border-radius: 4px;
    padding: 0.7rem;
    font-size: 15px;
    cursor: pointer;
  }
}

.delete {
  border: 1px solid $c-delete;
  color: $c-delete;

  &:hover {
    background: $c-delete;
    color: $c-white;
  }
}

.edit {
  border: 1px solid $c-edit;
  color: $c-edit;

  &:hover {
    background: $c-edit;
    color: $c-white;
  }
}
