.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 20px 50px rgba(50,50,93,.05), 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
  background: $c-white;
  min-height: 100vh;
  min-width: 20rem;
  font-size: 14px;
}

.form {
  width: 100%;
}

.sidebar__heading {
  padding: 0.5rem;
  
  &-title {
    font-size: 20px;
    margin: 0;
  }
}

.control {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.label {

}

.input__text {
  padding: 0.5rem;
  border: 0;
  background: $c-sidebar-head;
}

.submit {
  margin-bottom: 1rem;
  border: 1px solid $c-submit;
  color: $c-submit;

  &:hover {
    background: $c-submit;
    color: $c-white;
    transition: 0.5s;
  }
}

.button {
  text-transform: uppercase;
  width: 50%;
  padding: 0.6rem;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}